# Pandas

DataFrame наиболее часто используемое представления в задачах классификации и рекомендательных систем. DataFrame - 2 мерная матрица

In [6]:
import pandas as pd

In [3]:
frame1 = pd.DataFrame({"numbers":range(10), "chars":["a"]*10})
frame1

  chars  numbers
0     a        0
1     a        1
2     a        2
3     a        3
4     a        4
5     a        5
6     a        6
7     a        7
8     a        8
9     a        9

считывание внешних данных в DataFrame:

In [11]:
frame2=pd.read_csv('dataset.tsv', header=0, sep='\t')
print frame2
print frame2.columns
print frame2.shape

              Name       Birth       City  Position
0      Иванов А.А.  22.03.1980     Москва       NaN
1     Сорокин И.В.  07.08.1965  Волгоград   инженер
2       Белов М.М.  13.02.1980     Ростов  менеджер
3  Мельникова Д.С.  15.04.1985     Ростов       NaN
4      Рыбина Е.П.  19.11.1985     Москва   инженер
5     Костров С.О.  31.05.1985     Москва    стажер
Index([u'Name', u'Birth', u'City', u'Position'], dtype='object')
(6, 4)

In [19]:
new_Line={'Name':'Семенов', 'Birth':'23.08.1976', 'City':'Kyiv'}
frame2=frame2.append(new_Line, ignore_index=True)
print frame2

              Name       Birth       City  Position
0      Иванов А.А.  22.03.1980     Москва       NaN
1     Сорокин И.В.  07.08.1965  Волгоград   инженер
2       Белов М.М.  13.02.1980     Ростов  менеджер
3  Мельникова Д.С.  15.04.1985     Ростов       NaN
4      Рыбина Е.П.  19.11.1985     Москва   инженер
5     Костров С.О.  31.05.1985     Москва    стажер
6          Semenov  23.08.1976       Kyiv       NaN
7          семенов  23.08.1976       Kyiv       NaN

добавим столбец и  заполним

In [22]:
frame2['IsStudent']=[False]*5+[True]*3
print frame2

              Name       Birth       City  Position IsStudent
0      Иванов А.А.  22.03.1980     Москва       NaN     False
1     Сорокин И.В.  07.08.1965  Волгоград   инженер     False
2       Белов М.М.  13.02.1980     Ростов  менеджер     False
3  Мельникова Д.С.  15.04.1985     Ростов       NaN     False
4      Рыбина Е.П.  19.11.1985     Москва   инженер     False
5     Костров С.О.  31.05.1985     Москва    стажер      True
6          Semenov  23.08.1976       Kyiv       NaN      True
7          семенов  23.08.1976       Kyiv       NaN      True

delete columns and rows:

In [23]:
frame2.drop([6,7], axis=0)##не приравнивая просто показываем что получилось

              Name       Birth       City  Position IsStudent
0      Иванов А.А.  22.03.1980     Москва       NaN     False
1     Сорокин И.В.  07.08.1965  Волгоград   инженер     False
2       Белов М.М.  13.02.1980     Ростов  менеджер     False
3  Мельникова Д.С.  15.04.1985     Ростов       NaN     False
4      Рыбина Е.П.  19.11.1985     Москва   инженер     False
5     Костров С.О.  31.05.1985     Москва    стажер      True

In [26]:
frame2.drop('Position', axis=1)##не приравнивая просто показываем что получилос

              Name       Birth       City IsStudent
0      Иванов А.А.  22.03.1980     Москва     False
1     Сорокин И.В.  07.08.1965  Волгоград     False
2       Белов М.М.  13.02.1980     Ростов     False
3  Мельникова Д.С.  15.04.1985     Ростов     False
4      Рыбина Е.П.  19.11.1985     Москва     False
5     Костров С.О.  31.05.1985     Москва      True
6          Semenov  23.08.1976       Kyiv      True
7          семенов  23.08.1976       Kyiv      True

запись резта

In [27]:
frame2.to_csv('resltPandas.csv', sep=',', header=True, index=None)

In [29]:
frameTest=pd.DataFrame({"numbers":range(2), "chars":["a"]*2})

In [35]:
frameTest['IsStu']=False, True
frameTest

  chars  numbers  IsStu
0     a        0  False
1     a        1   True